.navbar{
    background-color: #0288D1;
}
.nav-link{
    font-size: 20px;
}
.navbar-brand{
    font-size: 32px;
}
.container-fluid{
    background-color: #03A9F4;
    height: 100px;
}
.sendContests{
    margin-top: 25px;
    margin-left: 43%;
}
.contest{
    margin-bottom: 30px;
}
.nameContest{
    height: 40px;
    background-color: slategrey ;
    text-align: center;
    font-size: 24px;
    color:#ffffff;
}
.contentContest{
    background-color: lightgray;
    height: 150px;
}
.timeContest{
    height: 40px;
    background-color: slategrey ;
    text-align: center;
    font-size: 24px;
    color:#ffffff;
}
.footer{
    height:50px;
    background-color:#0288D1;

}
.footer span{
    color: #ffffff;
}
@media (max-width: 575.98px) {

}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {
}